html {
    height: 100%;
    background-color: rgb(22, 112, 0);
}

#game-container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.hand-container {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.card-container {
    border: solid white 2px;
    border-radius: 16px;
}

.buttons {
    width: 20%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.buttons button {
    height: 50px;
    width: 70px;    
    border-radius: 16px;
    border: none;
    padding-right: 8px;
    padding-bottom: 3px;
    font-size: 30px;
}

.buttons button:hover {
    cursor: pointer;
    opacity: 0.9;
    
}

/* Card flip. */
.card {
    display: inline-block;
    margin: 19px 15px 15px 15px;
    width: 125px;
    height: 175px;
    perspective: 1000px;
    transition: transform 1s;
    transform-style: preserve-3d;
    position: relative;
}

.card.is-flipped {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card-back {
    transform: rotateY(180deg);
}

/* Display winner. */
.symbol-container {
    height: 80px;
    width: 80px;
    margin: 0 auto;
    transition: transform 0.25s cubic-bezier(0.87, 1.52, 0.86, 1.77);
}

.symbol-container.scale {
    transform: scale(0);
}

.symbol {
    position: absolute;
    height: 80px;
    width: 80px;
    display: none;
}

.symbol.show {
    display: block;
}


